<div class="container">
    <div class="row">
        <main class="col-xs-6">
            <h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><b>Bookers!</b></h1>
        </main>
    </div>
</div>